#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    flex-wrap: wrap;
}

.blue {
    background-color: lightblue;
    padding: 1rem;
}

.red {
    background-color: red;
    padding: .5rem;
}